@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

//Variables

$largest-width: 1440px;
$larger-width: 1366px;
$large-width: 1199px;
$medium-width: 991px;
$small-width: 767px;

//Mixin

@mixin custom-container-width ($width) {
    max-width: $width;
    width: 100%;
}

* {
    font-family: nunito, sans-serif;
    line-height: 1.2;
}

.main-background-image {
    background: url('https://devplus.edu.vn/assets/images/bg/home-8-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding: 94px 0 70px;

    @media only screen and (max-width: $medium-width) {
        & {
            padding: 64px 0 40px;
        }
    }
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.custom {
    &-container {
        @media only screen and (min-width: $largest-width) {
            & {
                @include custom-container-width(1270px);
            }
        }

        @media only screen and (max-width: $larger-width) {
            & {
                @include custom-container-width(1170px);
            }
        }

        @media only screen and (max-width: $large-width) {
            & {
                @include custom-container-width(960px);
            }
        }

        @media only screen and (max-width: $medium-width) {
            & {
                @include custom-container-width(720px);
            }
        }

        @media only screen and (max-width: $small-width) {
            & {
                @include custom-container-width(540px);
            }
        }

        .wrap-content {
            margin-bottom: 50px;

            @media only screen and (max-width: $medium-width) {
                & {
                    margin-bottom: 30px;
                }
            }

            @media only screen and (max-width: $small-width) {
                .col-md-12 {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

