.Cover-Requirement{
    max-width: 14380px;
    width: 100%;
    height: 730px;
    background-color: aqua;
}

.fadeInUp {
    visibility: visible; animationDuration: 2000ms; animationDelay: 300ms; animationName: fadeInUp;
}